# Python / venv
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
eval_reports/

# Data / Uploads / Vector DB storage
data/
qdrant_storage/
*.db
*.sqlite

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Environment variables
.env
